In [1]:
from math import sin, cos
from pandas import DataFrame

In [2]:
f = lambda x,y,z : 2*y + z + cos(x)
g = lambda x,y,z : 2*sin(x) - y
a = 0
b = 1
x0 = 0
y0 = 1
z0 = 1
h = 0.1

In [3]:
def Euler_explicit(f, g, a, b, x0, y0,z0, h):
    x_0 = x0
    x1 = x0 + h
    y1 = y0 + h*f(x0, y0, z0)
    z1 = z0 + h*g(x0,y0,z0)
    ans = [[y0, z0],[y1, z1]]
    x0 = x1
    y0 = y1
    z0 = z1
    while x1 <= b:
        x1 = x0 + h
        y1 = y0 + h*f(x0, y0, z0)
        z1 = z0 + h*g(x0,y0,z0)
        ans.append([y1,z1])
        x0 = x1
        y0 = y1
        z0 = z1
    return DataFrame([[x_0 + k*h, ans[k]] for k in range (int((b-a)/h))])

In [4]:
df = Euler_explicit(f,g,a, b, x0, y0,z0, h)
df

     0                                          1
0  0.0                                     [1, 1]
1  0.1                                 [1.4, 0.9]
2  0.2   [1.8695004165278024, 0.7799666833293657]
3  0.3   [2.4194038259504236, 0.6327505078355977]
4  0.4  [3.0620932908366285, 0.44991416657282324]
5  0.5    [3.811609465061525, 0.2215885059508905]
6  0.6  [4.683848464857957, -0.06368733283442143]
7  0.7   [5.696782986037074, -0.4191436846412101]
8  0.8   [6.870709433508817, -0.8599784457973794]
9  0.9   [8.228524146565558, -1.4035781709683566]

In [5]:
def modified_Euler(f, g, a, b, x0, y0,z0, h):
    x_0 = x0
    x1 = x0 + h
    y12 = y0 + h*f(x0, y0, z0)
    z12 = z0 + h*g(x0, y0, z0)
    y1 = y0 + h*(f(x1, y12,z12)+f(x0,y0,z0))/2
    z1 = z0 + h*(g(x1, y12,z12)+g(x0,y0,z0))/2
    ans = [[y0,z0],[y1,z1]]
    x0 = x1
    y0 = y1
    z0 = z1
    while x1 <= b:
        x1 = x0 + h
        y12 = y0 + h*f(x0, y0, z0)
        z12 = z0 + h*g(x0, y0, z0)
        y1 = y0 + h*(f(x1, y12,z12)+f(x0,y0,z0))/2
        z1 = z0 + h*(g(x1, y12,z12)+g(x0,y0,z0))/2
        ans.append([y1,z1])
        x0 = x1
        y0 = y1
        z0 = z1
    return DataFrame([[x_0 + k*h, ans[k]] for k in range (int((b-a)/h))])

df1 = modified_Euler(f, g, a, b, x0, y0,z0, h)
df1

     0                                          1
0  0.0                                     [1, 1]
1  0.1   [1.4347502082639012, 0.8899833416646828]
2  0.2   [1.9508215835989668, 0.7525861559651291]
3  0.3     [2.561590213663614, 0.578751471845851]
4  0.4   [3.282323212618629, 0.35779996343499515]
5  0.5   [4.130417670467262, 0.07723449335104193]
6  0.6   [5.125669253731286, -0.2774787344766402]
7  0.7  [6.2905741534838375, -0.7231556207259742]
8  0.8    [7.65066852177981, -1.2791698326282674]
9  0.9   [9.234910034256718, -1.9677627543549405]

In [7]:
def Runge_Kutta(f, g, a, b, x0, y0,z0, h):
    x_0 = x0
    x1 = x0
    ans = [[y0,z0]]
    while x1 <= b:
        x1 = x0 + h
        K1 = f(x0, y0,z0)
        L1 = g(x0, y0,z0)
        K2 = f(x0 + h/2, y0 + h*K1/2, z0 + h*L1/2)
        L2 = g(x0 + h/2, y0 + h*K1/2,z0 + h*L1/2)
        K3 = f(x0 + h/2, y0 + h*K2/2, z0 + h*L2/2)
        L3 = g(x0 + h/2, y0 + h*K2/2,z0 + h*L2/2)
        K4 = f(x1, y0 + h*K3,z0+h*L3)
        L4 = g(x1, y0 + h*K3,z0+h*L3)
        y1 = y0 + h*(K1 + 2*K2 + 2*K3 + K4)/6
        z1 = z0 + h*(L1 + 2*L2 + 2*L3 + L4)/6
        ans.append([y1, z1])
        x0 = x1
        y0 = y1
        z0 = z1
    return DataFrame([[x_0 + k*h, ans[k]] for k in range (int((b-a)/h))])

df2 = Runge_Kutta(f, g, a, b, x0, y0,z0, h)
df2

     0                                         1
0  0.0                                    [1, 1]
1  0.1   [1.4368954636002582, 0.888779380684724]
2  0.2   [1.955712339616431, 0.7497618733948185]
3  0.3  [2.5699422397303184, 0.5737972520577285]
4  0.4    [3.2949867411505243, 0.35009684557636]
5  0.5  [4.148399203176592, 0.06603562453038364]
6  0.6  [5.150156646216306, -0.2930694614523524]
7  0.7  [6.322965445596824, -0.7442081543266352]
8  0.8  [7.692605044989923, -1.3069562407375732]
9  0.9   [9.28831439942921, -2.0037897248489496]