In [7]:
from pandas import DataFrame


nodes = [-1,0,2]
values = {-1: [-17,33], 0: [-4, 3, -8],2: [10]}

dataframe = DataFrame([values[node] for node in values.keys()],
                      index=[str(node) for node in nodes],
                      columns=["$f(x)$", "$f'(x)$", "$f''(x)$"]).fillna('')
dataframe.columns.name = "$x$"
dataframe

$x$  $f(x)$ $f'(x)$ $f''(x)$
-1      -17      33
0        -4       3       -8
2        10

In [34]:
x_s=[]
for node in values.keys():
    x_s += [node]*len(values[node])
    
col1 = [values[x][0] for x in x_s]
col2 = [values[x_s[i]][1] if x_s[i] == x_s[i+1] 
        else (values[x_s[i+1]][0]-values[x_s[i]][0])/(x_s[i+1] - x_s[i])
        for i in range(len(x_s)-1)]

col3 = [values[x_s[i]][2] / 2 if x_s[i] == x_s[i+2]
        else (col2[(2*i+3)//2]-col2[(2*i+1)//2])/(x_s[i+2] - x_s[i])
        for i in range(len(x_s)-2)]
RRs = [col1, col2, col3]
for l in range(3, len(x_s)):
    RRs.append([(RRs[l-1][k+1] - RRs[l-1][k])/(x_s[k+l]-x_s[k]) 
            for k in range(len(x_s)-l)]) 
df = DataFrame(RRs)
df

      0     1    2    3    4     5
0 -17.0 -17.0 -4.0 -4.0 -4.0  10.0
1  33.0  13.0  3.0  3.0  7.0   NaN
2 -20.0 -10.0 -4.0  2.0  NaN   NaN
3  10.0   6.0  3.0  NaN  NaN   NaN
4  -4.0  -1.0  NaN  NaN  NaN   NaN
5   1.0   NaN  NaN  NaN  NaN   NaN

In [55]:
#Строим табличку
column1 = [x_s[i//2] if i % 2 == 0 else ' ' for i in range(2*len(x_s)-1)]
column2 = [values[x_s[i//2]][0]if i % 2 == 0 else ' ' for i in range(2*len(x_s)-1)]
othercols = [column1, column2]
for i in range(1,len(x_s)):
    othercols.append([' ']*i + [RRs[i][k//2] if k % 2==0
                                else ' ' for k in range(2*(len(x_s)-i-1)+1)] + [' ']*i)

table = DataFrame(othercols, columns = [' ']*(2*len(x_s)-1), 
                  index = ['$x$', '$f(x)$']+['р.р. {0:} пор.'.format(i+1) 
                                             for i in range(len(x_s)-1) ]).T
table

  $x$ $f(x)$ р.р. 1 пор. р.р. 2 пор. р.р. 3 пор. р.р. 4 пор. р.р. 5 пор.
   -1    -17
                      33
   -1    -17                     -20
                      13                      10
    0     -4                     -10                      -4
                       3                       6                       1
    0     -4                      -4                      -1
                       3                       3
    0     -4                       2
                       7
    2     10

In [57]:
coefficients = [RRs[i][0] for i in range(len(x_s))]
coefficients

[-17, 33, -20.0, 10.0, -4.0, 1.0]

In [67]:
polynoms = ['(x+1)','(x+1)^2','(x+1)^2x','(x+1)^2x^2','(x+1)^2x^3']     
p = '$' + str(coefficients[0])
for i in range(1,len(coefficients)-1):
    p+=(str(coefficients[i])+polynoms[i])
p+='$'

DataFrame([p])

                                                   0
0  $-1733(x+1)^2-20.0(x+1)^2x10.0(x+1)^2x^2-4.0(x...