## Григорьев Дмитрий, вариант 3
### Импорт нашего модуля

In [7]:
import mft1

# Начальные данные
### Функция $f(x)=\sqrt[4]{x+2}$

In [8]:
nodes = [0, 2, 4, 5, 7, 10]
pivot = 3
f = lambda x: pow(x+2,1./4)
d1f = lambda x: 1/(4*pow(x+2,3./4))
d2f = lambda x: -3/(16*pow(x+2,7./4))
d3f = lambda x: 21/(64*pow(x+2,11./4))
d4f = lambda x: -231/(256*pow(x+2,15./4))

# Вычисление разделённых разностей и двух таблиц

In [9]:
RRs, dataframe1, dataframe2 = mft1.interpolating(f,nodes,pivot,[d1f,d2f,d3f,d4f])

### Разделённые разности

In [10]:
RR1, RR2, RR3 = RRs
print("RR1 = {}\nRR2 = {}\nRR3 = {}\n".format(RR1, RR2, RR3))

RR1 = [0.11250322368518706, 0.07543550885009609, 0.061491981624498315, 0.05273712293554578, 0.043052970211773976]
RR2 = [-0.009266928708772743, -0.0046478424085325916, -0.002918286229650846, -0.0019368305447543602]
RR3 = [0.0009238172600480302, 0.0003459112357763491, 0.00016357594748274765]

### Сводная таблица 1

In [11]:
dataframe1

    x     f(x)  р.р 1 п  р.р 2 п р.р 3  п
    0  1.18921
                 0.1125
    2  1.41421          -0.00927
                0.07544             0.001
    4  1.56508          -0.00465
                0.06149                 0
    5  1.62658          -0.00292
                0.05274                 0
    7  1.73205          -0.00194
                0.04305
   10  1.86121
    3        ?

### Сводная таблица 2

In [12]:
dataframe2

,,,,
\{i},0.000000,1.000000,2.000000,3.000000
Узлы интерполирования в порядке их использования,2.000000,4.000000,5.000000,0.000000
$P_{i}($3$) -$ Значение многочлена в точке интерполирования,1.414214,1.489649,1.494297,1.496145
$f($3$) {-} P_{i}($3$) -$ Фактическая погрешность,0.081135,0.005700,0.001052,-0.000796
$M_{i+1} -$ Оценка модуля произодных,0.088300,0.016500,0.007200,0.067000
$R_{i}($3$) -$ Оценка погрешности,0.088300,0.008250,0.002400,0.016750