### Импорт нашего модуля

In [1]:
import mft1

# Начальные данные

In [2]:
nodes = [-2, 0, 1, 3, 4, 5]
pivot = 2
f = lambda x: x**3+2
d1f = lambda x: 3*(x**2)
d2f = lambda x: 6*x
d3f = lambda x: 6
d4f = lambda x: 0

# Вычисление разделённых разностей и двух таблиц

In [3]:
RRs, dataframe1, dataframe2 = mft1.interpolating(f,nodes,pivot,[d1f,d2f,d3f,d4f])

### Разделённые разности

In [4]:
RR1, RR2, RR3 = RRs
print("RR1 = {}\nRR2 = {}\nRR3 = {}\n".format(RR1, RR2, RR3))

RR1 = [4.0, 1.0, 13.0, 37.0, 61.0]
RR2 = [-1.0, 4.0, 8.0, 12.0]
RR3 = [1.0, 1.0, 1.0]

### Сводная таблица 1

In [5]:
dataframe1

    x f(x) р.р 1 п р.р 2 п р.р 3  п
   -2   -6
                 4
    0    2              -1
                 1                1
    1    3               4
                13                1
    3   29               8
                37                1
    4   66              12
                61
    5  127
    2    ?

### Сводная таблица 2

In [6]:
dataframe2

i                                              0.0000   1.00000   2.0   3.0
Узлы в порядке интерполирования                1.0000   3.00000   0.0   4.0
Значение многочлена в точке интерполирования   3.0000  16.00000  12.0  10.0
Фактическая погрешность                        7.0000  -6.00000  -2.0   0.0
Оценка модуля произодных                      11.9999  17.99990   6.0   0.0
Оценка погрешности                            11.9999   8.99995   2.0   0.0