In [42]:
import pandas as pd
import mft1_2
h = 0.1 #Шаг интерполяции

#Начальные данные

In [43]:
pivot = 0.95
a = 0
b = 1
f = lambda x: x**3+2
d1f = lambda x: 3*(x**2)
d2f = lambda x: 6*x
d3f = lambda x: 6
d4f = lambda x: 0

In [44]:
def get_values(f,a,b,h):
    n = int((b-a)/h)+1
    return [f(a+k*h) for k in range(n)]
    
def buildTable1(f,a,b,h): 
    n = int((b-a)/h)+1
    nodes = [(a+k*h) for k in range(n)]
    values = get_values(f,a,b,h)
    return pd.DataFrame([nodes,values],index = ["x","f(x)"], columns = [" "]*n).T

df = buildTable1(f,a,b,h)
df

     x   f(x)
   0.0  2.000
   0.1  2.001
   0.2  2.008
   0.3  2.027
   0.4  2.064
   0.5  2.125
   0.6  2.216
   0.7  2.343
   0.8  2.512
   0.9  2.729
   1.0  3.000

In [45]:
def get_ER1(f ,a ,b):
    values = get_values(f,a,b,h)
    le = len(values)
    ER1 = [values[k+1]-values[k] for k in range(le-1)]
    ER2 = [ER1[k+1]-ER1[k] for k in range(le-2)]
    ER3 = [ER2[k+1]-ER2[k] for k in range(le-3)]
    ER4 = [ER3[k+1]-ER3[k] for k in range(le-4)]
    return (ER1 , ER2, ER3, ER4)
    
ER1 = get_ER1(f, a ,b)
ER1

([0.0009999999999998899,
  0.007000000000000117,
  0.019000000000000128,
  0.03699999999999992,
  0.06099999999999994,
  0.09100000000000019,
  0.12699999999999978,
  0.16900000000000004,
  0.21700000000000008,
  0.2709999999999999],
 [0.006000000000000227,
  0.01200000000000001,
  0.017999999999999794,
  0.02400000000000002,
  0.03000000000000025,
  0.03599999999999959,
  0.04200000000000026,
  0.04800000000000004,
  0.053999999999999826],
 [0.005999999999999783,
  0.005999999999999783,
  0.006000000000000227,
  0.006000000000000227,
  0.005999999999999339,
  0.0060000000000006715,
  0.005999999999999783,
  0.005999999999999783],
 [0.0,
  4.440892098500626e-16,
  0.0,
  -8.881784197001252e-16,
  1.3322676295501878e-15,
  -8.881784197001252e-16,
  0.0])

In [46]:
def buildTable2(f,a,b,h):
    n = int((b-a)/h)+1
    nodes = [a+(k//2)*h if k % 2 ==0 else ' ' for k in range(2*n-1)]
    values = [f(a+(k//2)*h) if k % 2 ==0 else ' ' for k in range(2*n-1)]
    ER1_buf, ER2_buf, ER3_buf, ER4_buf = get_ER1(f,a,b)
    ER1 = [ER1_buf[k//2] if k % 2 == 1 else ' ' for k in range(2*n-1)]
    ER2 = [' ']+[ER2_buf[k//2] if k % 2 == 1 else ' ' for k in range(2*n-3)]+[' ']
    ER3 = [' ']*2+[ER3_buf[k//2] if k % 2 == 1 else ' ' for k in range(2*n-5)]+2*[' ']
    ER4 = [' ']*3+[round(ER4_buf[k//2],5) if k % 2 == 1 else ' ' for k in range(2*n-7)]+3*[' ']
    return pd.DataFrame([nodes,values,ER1,ER2,ER3,ER4], index = ["x","y",'dy','d2y','d3y','d4y']).T
# Написать единую функцию для конечных разностей (они имеют капец какое одинаковое построение)
df1 = buildTable2(f,a,b,h)
df1

      x      y     dy    d2y    d3y d4y
0     0      2
1               0.001
2   0.1  2.001         0.006
3               0.007         0.006
4   0.2  2.008         0.012          0
5               0.019         0.006
6   0.3  2.027         0.018          0
7               0.037         0.006
8   0.4  2.064         0.024          0
9               0.061         0.006
10  0.5  2.125          0.03         -0
11              0.091         0.006
12  0.6  2.216         0.036          0
13              0.127         0.006
14  0.7  2.343         0.042         -0
15              0.169         0.006
16  0.8  2.512         0.048          0
17              0.217         0.006
18  0.9  2.729         0.054
19              0.271
20    1      3

In [47]:
def calculate_Ns(f,a,b,h,pivot):
    N = [1]+[0]*4
    if pivot <= a+h/2:
        t = (pivot-a)/h
        for k in range(1,5):
            N[k] = N[k-1]*(t-k+1)/k
    elif pivot >= b+h/2:
        t = (pivot-b)/h
        for k in range(1,5):
            N[k] = N[k-1]*(t+k-1)/k
    return N

N = calculate_Ns(f,a,b,h,pivot)
N

[1, 0, 0, 0, 0]